<head>
<meta charset="utf-8">
<title>Hello...</title>
<link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='./css/endingInputSlider.css') }}">
<link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='./css/sliderContainer.css') }}">
<link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='./css/startInputSlider.css') }}">
<link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='./css/style.css') }}">
<link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='./css/button.css') }}">
<link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='./css/toggleButton.css') }}">
<link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='./css/font-awesome.css') }}">
</head>