<div id="header">

  <span class="flexbox">
    <label class="switch"  id="audioWaveLabelToggle">
      <input type="checkbox" id="audioWaveToggle">
      <div class="slider"></div>
    </label>
    <span>audioWave</span>
  </span>

  <span class="flexbox">
    <label class="switch"  id="frequencyLabelToggle">
      <input type="checkbox" id="frequencyToggle">
      <div class="slider"></div>
    </label>
    <span>Frequency</span>
  </span>

  <span class="flexbox">
    <label class="switch"  id="spectrogramLabelToggle">
      <input type="checkbox" id="spectrogramToggle">
      <div class="slider"></div>
    </label>
    <span>Spectrogram</span>
  </span>

</div>