<div style="width:100%">
    {% if name %}
        <h1 style="text-align: center">{{name}}.wav</h1>

    {% else %}
      <h1  style="text-align: center">There was a problem</h1>
    {% endif %}

    <div id="audioMenuContainer">
      <i id="playButton" class="fa fa-play fa-2" aria-hidden="true" style="font-size:35px; height:40px"></i>
      <div id="sliderContainer">
        <div id="colorBar">
        </div>
        <input class='type2' type="range" id="sliderEnd" min=0 max=1000 value="1000">
        <input class='type1' type="range" id="sliderStart" min=0 max=1000 value="0"> <!--this should be the first one so you can diretly select where the play headers going to start -->
      </div>
      <i id="volumeButton" class="fa fa-volume-up fa-2" aria-hidden="true" style="font-size:35px; height:40px"></i>
    </div>
  </div>