<!-- 

1. Remove the <br> takes with real things

2.  probable put like limites on the for what can go in the input


-->
<div style="display:none">
<form  method="post" >
  <label for="accountName">Account Name:</label><br>
  <input id="accountName" type="text" name="accountName" required><br>

  <label for="accountEmail">Email:</label><br>
  <input id="accountEmail" type="text" name="accountEmail" required><br>

  <label for="password">Password:</label><br>
  <input id="password" type="password" name="password" required><br>

  <input type="submit" value="Submit">
</form> 

{% if accountName %}
    <h1>{{accountName}}</h1>
    <h1>{{accountEmail}}</h1>
    <h1>{{password}}</h1>

{% else %}
    <h1>no submit</h1>
{% endif %}
</div>

<!--
<form  method="post">
  <label for="accountName">Account Name:</label><br>
  <input id="accountName" type="text" name="accountName" required><br>

  <label for="accountId">Email:</label><br>
  <input id="accountId" type="text" name="accountId" required><br>

  <label for="password">Password:</label><br>
  <input id="password" type="password" name="password" required><br>

  <input type="submit" value="Submit">
</form> 
-->
