<!DOCTYPE html>
<!-- HTML5 Hello world by kirupa - http://www.kirupa.com/html5/getting_your_feet_wet_html5_pg1.htm -->
<html lang="en-us">

{% include './includes/headTag.html' %}

<body>

{% include './includes/header.html' %}


<div id="completeContainer">
  {% include './includes/audioVis.html' %}
  {% include './includes/slider.html' %}
  {% include './includes/button.html' %}
</div>


{% if name %}
    <audio id="audio" src="./static/audio/{{name}}.wav" preload="auto"></audio>

{% else %}
  <h1>There was a problem</h1>
{% endif %}



<!--
<progress value="1534602" max="4603807">33%</progress>
-->
{% include './includes/javascriptIncludes.html' %}

</body>
</html>
