body{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    overflow:hidden;
}
#completeContainer{
    display:flex; 
    align-items: center; 
    justify-content: center;
    flex-direction: column;
    height:100%;
    width:100%;
    position:absolute;
}



#audioMenuContainer{
    width:90%;
    color:black;
    height:40px;
    border-style: solid;
    border-width: 20px;
    border-color: black;
    margin: 0 auto;
}

#sliderContainer{
    width:90%;
    float:left;
}

#playButton{
    width:5%;
    float:left;
}
#volumeButton{
    width:5%;
    float:left;
}

audio{
    display:none;
}

#header{
    background: black; 
    position:fixed;
    height:8%; 
    width: 100%;
    z-index:5; 
    display:flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-around; 
    color: white
}

span.flexbox{
    display:flex;
    align-items: center;
    text-transform: uppercase; 
}

#wave-spectrogram > spectrogram > canvas{
    width:100%;
}