body{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin:0;
}
#header{
    text-align:center;
    height:30px;
    background: lightblue;
}
#footer{
    text-align:center;
    height:30px;
    background: lightblue;
}

#bodyContent{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    flex-direction: column; 
}

.account{
    min-width:300px;
    width: 60vw;
    max-width:500px;
    padding:10px;
    margin:10px;
    background:deepskyblue;
    border-radius: 10px;
     text-align: center;
}
.accountName{

}
.accountId{
   
}